<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>所有用户信息</title>
    <style>
        th,td{
            text-align: center;
            background-color: aqua;
            font-style: italic;
            color: red;
        }
    </style>
</head>
<body>
<table border="1px" width="500px" align="center">
    <tr>
        <th>用户ID</th>
        <th>用户姓名</th>
        <th>用户年龄</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>


</table>
</body>
</html>