<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>用户详情页</title>
</head>
<body>
<form th:action="@{/users/updateUser}" method="post">
    <input type="hidden" name="id" th:field="${user.id}">
    用户姓名:<input type="text" name="name" placeholder="请输入用户名" th:field="${user.name}"><br/>
    用户年龄:<input type="text" name="age" placeholder="请输入用户年龄" th:field="${user.age}"><br/>
    <input type="submit" value="请提交">
</form>
</body>
</html>