<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Thymeleaf-URL</title>
</head>
<body>
<!--thymeleaf绝对路径访问-->
<a th:href="@{http://www.google.com}" target="_blank">thymeleaf访问绝对路径</a><br>
<a th:href="@{/second}" target="_blank">thymeleaf访问相对路径</a><br>
<a th:href="@{~/static/index}" target="_blank">thymeleaf访问tomcat所在服务器家目录路径</a><br>
<a th:href="@{/url(id=1,name=刘备)}" target="_blank">thymeleaf相对路径传参访问</a><br>
<a th:href="@{/path/{id}/url(id=1,name=刘备)}" target="_blank">thymeleaf相对路径传参访问-restful风格</a><br>
<a href="http://www.google.com" target="_blank">html访问绝对路径</a><br>
</body>
</html>